# Default Gitignore
automatic/_output
obj
_ReSharper*
New Text Document*

*.resharper
*.cache
*~
*.swp
*.swo
*.suo
*.user
*.orig
*.old
*.test
*.work
*.handover
*.new
*.exist
*-orig.*
*.stackdump

Thumbs.db
.DS_Store

New folder*
*/working
ketarin/soluto.xml
/Update-AUPackages.md
/Update-History.md
/Update-Force-Test*.md
/update_vars.ps1
/update_info.xml

.vscode

node_modules/

# ignore certain files in automatic/manual Packages
automatic/*/*.nupkg
automatic/*/*/*.exe
automatic/*/*/*.msi
automatic/*/*/*.vsix
automatic/*/*/*.zip
automatic/*/*/*.7z
manual/*/*.nupkg
manual/*/*/*.exe
manual/*/*/*.msi
manual/*/*/*.vsix
manual/*/*/*.zip
manual/*/*/*.7z
